a{
    text-decoration:none;
	color:inherit;
}
html{
	font-size:62.5%;
}
body{
	background-color:#ededeb;
	min-width:320px;
}
#m_guardian{
	height:30%;
	background-image:url(../images/mobile_bg.jpg);
	background-size:cover;
	padding:8% 0;
}
#m_guardian p{
    text-align:center;
    position:relative;
}
.m_faces{
	width:20%;
	margin:0 auto;
	text-align:center;
}
.m_faces img{
	width:100%;
}
.m_guardian_name{
	margin-top:20px;
	font-size:2.0rem;
	font-weight:600;
}
.m_guardian_read{
	margin-top:-30px;
	font-size:20px;
}
.m_guardian_read span{
	color:#FFF;
	font-size:1.8rem;
	/*margin:15px auto 0;*/
	background-color:none;
	border:1px solid #fff;
    -moz-border-radius:5px;
    border-radius: 5px;
	padding:3px 7px;
	float:right;
	margin-right:9px;
}


#m_test_name{

	border-top:2px #d4edc3 solid; 
	height:40px; 
	line-height:50px; 
	background-color:#FFF;
	font-size:1.5rem;
	color:#666666;
}

#m_test_name p:nth-child(1){
	float:left;
	width:70%;
	text-indent:10px;
}
#m_test_name p:nth-child(2){
	float:left;
	width:30%;
	text-align:right;
	color:#666666;

}

.m_mid{
	margin-top:10px; 
	margin-bottom:80px;
	background:#ededeb url(../images/m_bg1.jpg);
    background-size:100%;
}
.b_solid{
	border-bottom:1px #e9e9e7 solid
	
}
/**必选**/
.m_list{
    background-color:#FFF; 
    height:40px;
    font-size:1.5rem;
}

.m_list p{
    height:40px;
    line-height:40px;

}
.m_list p:nth-child(1){
	float:left;
	width:10%;

}

.m_list p:nth-child(2){
	float:left;	
	width:30%;
	color:#333;
}

.m_list p:nth-child(3){
	text-align:right;
	float:left;	
	width:60%;
	color:#9a9a9a;
}

.m_list img{
   margin:0 auto;
   vertical-align:middle;
}

.box{
    display:table;
    text-align:center;
}
.box span{
    display:table-cell;
    vertical-align:middle;
}
.box span img{
    width:18px !important ;
	height:18x !important;
}

@media only screen and (max-width:400px){
.m_list{

}
.m_list p:nth-child(1) img{
	margin-left:5px;
	width:70%;
}
.m_list p:nth-child(2) img{
	width:10%;
}
}

.m_list_1{
    background-color:#FFF; 
    height:40px;
    font-size:1.5rem;
}

.m_list_1 p{
    height:40px;
    line-height:40px;

}
.m_list_1 p:nth-child(1){
	float:left;
	width:10%;
}

.m_list_1 p:nth-child(2){
	float:left;	
	width:40%;
	color:#333;
}

.m_list_1 p:nth-child(3){
	text-align:right;
	float:left;	
	width:50%;
	color:#9a9a9a;
}

.m_list_1 img{
    margin:0 auto;
    vertical-align:middle;
}


@media only screen and (max-width:400px){
.m_list_1{

}
.m_list_1 p:nth-child(1) img{
	margin-left:5px;
	width:70%;
}
.m_list_1 p:nth-child(2) img{
	width:10%;
}
}


select {
    direction: rtl;
	color:#999 !important;
	font-size:1.5rem;
}
select option {
    direction: ltr;
}

.fs{
	height:40px;
	border:0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background:url(../images/tip2.jpg) no-repeat right center;
	background-size:10px 15px;
    width:100%;
　　 text-indent:0.01px;
　 　text-overflow:"";

    padding-right:10px;
	
	position:relative;
	left:-10px;
}
.fs1{
	height:40px;
	border:0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background:url(../images/tip2.jpg) no-repeat right center;
	background-size:10px 15px;


　　 text-indent:0.01px;
　 　text-overflow:"";

	display:block;
	line-height:40px;
	float:right;
	position:relative;
	padding-right:10px;
	top:5px;
}